<!DOCTYPE HTML>
<html>
	<head>
		<title>Lewis Hudson Web Development</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />

		  <!-- Share Image -->
		  <meta property='og:title' content='Lewis Hudson Website Design and Development' />
		  <meta property='og:image' content="https://i.ibb.co/KW3WXst/Lewis-Hudson-Website-Development.png">
		  <meta property='og:description' content='Website Design and Development - Wellington' />
		  <meta property='og:url' content='https://www.lewishudson.org' />
		  <meta property='og:image:width' content='2469' />
		  <meta property='og:image:height' content='1291' />
		  <meta property='og:type' content='website' />
		  <meta charset="utf-8">

		  <!-- Favicon -->
  			<link rel="icon" href="../static/assets/favicon.ico">

		<script src="https://kit.fontawesome.com/60f53f7d2b.js" crossorigin="anonymous"></script>

	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
								<nav class="flex-box">
				<p><a class="link" href="#Portfolio">Portfolio</a></p>  <p><a class="link" href="#Testimonials">Testimonials</a></p>  <p><a class="link" href="#Services">Services</a></p>
				</nav>
				<img class="profile-image" src="../static/assets/images/Me.png" alt="Lewis Hudson"></img>
				<h1>Lewis Hudson</h1>
				<p>Web Design and Development based out of Wellington, NZ</p>
				<button class="contact-button" onclick="window.location='#Contact'">Make an enquiry</button>

					{% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
				<br>
            <p class="flash">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

			</div>

		<!-- Main -->
			<div id="main">

								<header class="major container medium">

<h3>Simple, Effective, Web Design</h3>
									<hr>

			
<br>

					<section>
						<header>
							<i class="benefits-logo fa-solid fa-users-viewfinder"></i>
							<h1 class="benefits-title">Customer Focussed</h1>
						</header>
						<ol class="default benefits">
							<li>We know running a business can be stressful, and we are here to help. We are available and always respond to enquiries in a prompt manner.</li>
						</ol>
						<header>
							<i class="benefits-logo fa-solid fa-tag"></i>
							<h1 class="benefits-title">Clear, transparent pricing</h1>
						</header>
						<ol class="default benefits">
							<li>We offer carefully curated websites with a transparent and clear pricing structure based on your requirementst, so you know the costs up front.</li>
						</ol>
						<header>
							<i class="benefits-logo fa-solid fa-shop"></i>
							<h1 class="benefits-title">focus on small business</h1>
						</header>
						<ol class="default benefits">
							<li>We build sites for small business and personal projects. We know what we are good at and that’s where we focus.</li>
						</ol>
					</section>
				</header>

				

				<header class="major container medium" id="Portfolio">
					<h3>Our Portfolio</h3>
													<hr>


				</header>

				<div class="box alt container">
					<section class="feature left">
						<a href="https://www.carnageco.net" target="_blank" class="image wide-only"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" class="thumbnail" src="../static/assets/CarnageCo website.mp4" loop="" muted=""></video></a>
						<a href="https://www.carnageco.net" target="_blank" class="image mob-only"><img class="mob-image" src="../static/assets/CarnageCoImage.png"></a>
						<div class="content">
							<h1>Carnage Co</h1>
							<p>A local surfboard repair shop based in Wellington needed a visible web presence for their business that showcased their services. We helped out with this beautuful, effective one-page site and got them on the first page of google. </p>
						</div>
					</section>
					<br>
					<section class="feature right">
						<a href="https://www.chrphotography.com" target="_blank" class="image wide-only"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" class="thumbnail" src="../static/assets/CHR website.mp4" loop="" muted=""></video></a>
						<a href="https://www.chrphotography.com" target="_blank" class="image mob-only"><img class="mob-image" src="../static/assets/CHRImage.png"></a>

						<div class="content">
							<h1>CHR Photography</h1>
							<p>A budding photographer from the UK wanted a site that could show off her portfolio and services, and that she could update herself. We built her this simple, elegant solution.</p>
						</div>
					</section>
<!--					<section class="feature left">-->
<!--						<a href="#" class="image icon solid fa-mobile-alt"><img src="images/pic03.jpg" alt="" /></a>-->
<!--						<div class="content">-->
<!--							<h3>Good Feeds</h3>-->
<!--							<p>An ongoing personal website that lets users review restaurants in the Wellington region. A dynamic website that utilises user logins, databases and many interactive features.</p>-->
<!--						</div>-->
<!--					</section>-->
				</div>

				<header class="major container medium" id="Testimonials">
					<h3>Testimonials</h3>
														<hr>


				</header>

				
				<div class="box container">

						
					<section>
						<header>
							<h1>Valentin - Carnage co</h1>
						</header>
						<blockquote>"Lewis did a great job with the site and was very easy to work with. I love the design and i've already had lots of
							bookings through, thanks primarily to getting the site onto the first page of google"</blockquote>
						<h1>Candice - chr Photography</h1>
						</header>
						<blockquote>"My new website is a great way to showcase my work to potential customers,
							highlight offers and advertise. I especially love the fact I can simply and easily
							update the photos myself."</blockquote>
					</section>
				</div>

<header class="container medium" id="Services">

<h3>Services</h3>
									<hr>


<br>

					<section>
						<ul>
							<li>Website design and development </li>
							<li>E-commerce solutions </li>
							<li>Content management systems </li>
							<li>Responsive web design </li>
							<li>Search engine optimization (SEO) </li>
							<li>Social media integration </li>
							<li>Web app development </li>
							<li>Maintenance and support </li>
						</ul>
					</section>


				</header>

				<div class="container">

					<p class="center-text">I would be happy to discuss your project in more detail and provide a personalized quote
							based on your needs. <br><br> Please contact me below to get started.</p>
				</div>




			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container medium" id="Contact">

					<header class="major last">
						<h2>Make an enquiry</h2>
					</header>

					<p>If you have a project that you would like to discuss, or have any questions about our services, get in touch below and we will get back to you asap.</p>

					<form method="post">
						{{ contact_form.hidden_tag() }}
						<div class="row">
							<div class="col-6 col-12-mobilep">
								{{contact_form.name( placeholder="Name" )}}
<!--								<input type="text" name="name" placeholder="Name" />-->
							</div>
							<div class="col-6 col-12-mobilep">
								{{contact_form.email( placeholder="Email" )}}
							</div>
							<div class="col-12 message-box">
								{{contact_form.message( placeholder="Message", rows="6")}}
							</div>
							<div class="col-12 message-box">
								<ul class="actions special">
									<li>{{contact_form.send_message()}}</li>
								</ul>
							</div>
						</div>
					</form>

					<ul class="icons">
						<li><a href="mailto:lewishudsonpro@outlook.com" class="icon  fa-regular fa-envelope"><span class="label">Twitter</span></a></li>
					</ul>


				</div>
			</div>

		<!-- Scripts -->
			<script src="../static/js/js/jquery.min.js"></script>
			<script src="../static/js/js/browser.min.js"></script>
			<script src="../static/js/js/breakpoints.min.js"></script>
			<script src="../static/js/js/util.js"></script>
			<script src="../static/js/js/main.js"></script>

	</body>
</html>